body {
    font-family: Arial;
    background-color: #f2f2dc;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 15px;
    margin-top: 30px;
    border: 1px solid gray;
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: auto;
    padding: 5px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

a {
    text-decoration: none;
}